# Carregar bibliotecas

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib

import pandas as pd 
# O pandas é uma biblioteca de código aberto que fornece estruturas de dados de 
# alto desempenho e fáceis de usar e ferramentas de análise

import io           
# entrada e saída. 
# O módulo io fornece as interfaces Python para o fluxo de manipulação.

import matplotlib.pyplot as plt 
# O Matplotlib é uma biblioteca de plotagem 2D do Python
# mais detalhes em: https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.html

!pip install -q seaborn
import seaborn as sns
# Seaborn é uma biblioteca de visualização de dados Python baseada no matplotlib. 
# Ela fornece uma interface de alto nível para desenhar gráficos estatísticos.

from sklearn import preprocessing 
from sklearn.preprocessing import MinMaxScaler
# Ferramentas simples e eficientes para mineração e análise de dados

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from keras.models import Sequential
from keras.layers import Dense, Activation

# Inserir dados na Nuvem


* Você tem algumas opções para ler os dados: 

* Pode ser de um link de repositório
* Pode ser do google drive
* Também pode fazer o upload do seu diretório

** Exemplo de como baixar dados já disponíveis em links **

In [0]:
dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataset_path

'/root/.keras/datasets/auto-mpg.data'

# Inserir arquivo do seu próprio computador

In [0]:
from google.colab import files
uploaded = files.upload()

Saving TRAFO_treina2.csv to TRAFO_treina2.csv

# Carregar dados Excel

* O passo seguinte, você pode carregar os seus dados a partir dos arquivos que fez upload:

In [0]:
dataset = pd.read_excel(io.BytesIO(uploaded['Equipes.xlsx']))

KeyError: ignored

# Carregar dados CSV

* Você também pode ler dados com extensão csv

dataset = pd.read_csv('NomeDoArquivo.csv')

Mais informações em [link text](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [0]:
dataset = pd.read_csv('TRAFO_treina2.csv')

# Visualizar dados

In [0]:
dataset

            Data   ANO  MÊS  CSD  EQUIPES_             CSD_NOME
0     2011-01-01  2011    1  GUL        13            GUARULHOS
1     2011-01-01  2011    1  GUR        23        GUARATINGUETA
2     2011-01-01  2011    1  LIT        12        LITORAL NORTE
3     2011-01-01  2011    1  MCR        11      MOGI DAS CRUZES
4     2011-01-01  2011    1  SJC        20  SÃO JOSE DOS CAMPOS
...          ...   ...  ...  ...       ...                  ...
20616 2019-09-15  2019    9  GUR        17        GUARATINGUETA
20617 2019-09-15  2019    9  LIT        22        LITORAL NORTE
20618 2019-09-15  2019    9  MCR        12      MOGI DAS CRUZES
20619 2019-09-15  2019    9  SJC        22  SÃO JOSE DOS CAMPOS
20620 2019-09-15  2019    9  SUZ        15                  POÁ

[20621 rows x 6 columns]

# Tipo de dados

Você pode ver os tipos das variáveis que acabou de carregar.

Mais informações em: [link text](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [0]:
dataset.dtypes

MAX_POT_AP_FASE_A_SEC_092019    float64
MAX_POT_AP_FASE_B_SEC_092019    float64
MAX_POT_AP_FASE_C_SEC_092019    float64
CONFIGURACAO_BANCO              float64
TOTAL_KVA_ET                    float64
KM_REDE_SEC                     float64
CLIENTES                        float64
MAX_CARREGAMENTO_SECA           float64
REGIONAL                        float64
COND                            float64
dtype: object

# Normalização ou Padronizar os dados

In [0]:
cols = dataset.columns
df = pd.DataFrame(dataset)
#df

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(dataset)
df_normalized = pd.DataFrame(np_scaled, columns = cols)
df_normalized

     MAX_POT_AP_FASE_A_SEC_092019  MAX_POT_AP_FASE_B_SEC_092019  ...  REGIONAL  COND
0                        0.008729                      0.004226  ...       0.0   0.0
1                        0.002248                      0.002174  ...       0.0   0.0
2                        0.000084                      0.000082  ...       0.0   0.0
3                        0.416491                      0.404722  ...       0.0   0.0
4                        0.371042                      0.360558  ...       0.0   0.0
..                            ...                           ...  ...       ...   ...
195                      0.261209                      0.260680  ...       1.0   1.0
196                      0.000137                      0.000133  ...       1.0   0.0
197                      0.001699                      0.001651  ...       1.0   0.0
198                      0.003810                      0.003672  ...       1.0   0.0
199                      0.001330                      0.001292  ...       1.0   0.0

[200 rows x 10 columns]

# outra forma de normalizar

In [0]:
cols = dataset.columns
scaler = MinMaxScaler()
scaler.fit(dataset)
np_scaled=scaler.transform(dataset)
dataset_norm = pd.DataFrame(np_scaled, columns = cols)
dataset_norm

     MAX_POT_AP_FASE_A_SEC_092019  MAX_POT_AP_FASE_B_SEC_092019  ...  REGIONAL  COND
0                        0.008729                      0.004226  ...       0.0   0.0
1                        0.002248                      0.002174  ...       0.0   0.0
2                        0.000084                      0.000082  ...       0.0   0.0
3                        0.416491                      0.404722  ...       0.0   0.0
4                        0.371042                      0.360558  ...       0.0   0.0
..                            ...                           ...  ...       ...   ...
195                      0.261209                      0.260680  ...       1.0   1.0
196                      0.000137                      0.000133  ...       1.0   0.0
197                      0.001699                      0.001651  ...       1.0   0.0
198                      0.003810                      0.003672  ...       1.0   0.0
199                      0.001330                      0.001292  ...       1.0   0.0

[200 rows x 10 columns]

In [0]:
cols = dataset.columns
np_scaled=scaler.inverse_transform(dataset_norm)
dataset_denorm = pd.DataFrame(np_scaled, columns = cols)
dataset_denorm

     MAX_POT_AP_FASE_A_SEC_092019  MAX_POT_AP_FASE_B_SEC_092019  ...  REGIONAL  COND
0                           0.827                         0.412  ...       1.0   0.0
1                           0.213                         0.212  ...       1.0   0.0
2                           0.008                         0.008  ...       1.0   0.0
3                          39.460                        39.460  ...       1.0   0.0
4                          35.154                        35.154  ...       1.0   0.0
..                            ...                           ...  ...       ...   ...
195                        24.748                        25.416  ...       5.0  10.0
196                         0.013                         0.013  ...       5.0   0.0
197                         0.161                         0.161  ...       5.0   0.0
198                         0.361                         0.358  ...       5.0   0.0
199                         0.126                         0.126  ...       5.0   0.0

[200 rows x 10 columns]