# Carregar bibliotecas

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib

import pandas as pd 
# O pandas é uma biblioteca de código aberto que fornece estruturas de dados de 
# alto desempenho e fáceis de usar e ferramentas de análise

import io           
# entrada e saída. 
# O módulo io fornece as interfaces Python para o fluxo de manipulação.

import matplotlib.pyplot as plt 
# O Matplotlib é uma biblioteca de plotagem 2D do Python
# mais detalhes em: https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.html

!pip install -q seaborn
import seaborn as sns
# Seaborn é uma biblioteca de visualização de dados Python baseada no matplotlib. 
# Ela fornece uma interface de alto nível para desenhar gráficos estatísticos.

from sklearn import preprocessing 
from sklearn.preprocessing import MinMaxScaler
# Ferramentas simples e eficientes para mineração e análise de dados

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from keras.models import Sequential
from keras.layers import Dense, Activation

Using TensorFlow backend.

# Inserir dados na Nuvem


* Você tem algumas opções para ler os dados: 

* Pode ser de um link de repositório
* Pode ser do google drive
* Também pode fazer o upload do seu diretório

** Exemplo de como baixar dados já disponíveis em links **

In [0]:
dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataset_path

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 4us/step

'/root/.keras/datasets/auto-mpg.data'

# Inserir arquivo do seu próprio computador

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Equipes.xlsx to Equipes.xlsx

# Carregar dados Excel

* O passo seguinte, você pode carregar os seus dados a partir dos arquivos que fez upload:

In [0]:
dataset = pd.read_excel(io.BytesIO(uploaded['Equipes.xlsx']))

# Carregar dados CSV

* Você também pode ler dados com extensão csv

dataset = pd.read_csv('NomeDoArquivo.csv')

Mais informações em [link text](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [0]:
dataset = pd.read_csv('TRAFO_treina2.csv')

# Visualizar dados

In [0]:
dataset

            Data   ANO  MÊS  CSD  EQUIPES_             CSD_NOME
0     2011-01-01  2011    1  GUL        13            GUARULHOS
1     2011-01-01  2011    1  GUR        23        GUARATINGUETA
2     2011-01-01  2011    1  LIT        12        LITORAL NORTE
3     2011-01-01  2011    1  MCR        11      MOGI DAS CRUZES
4     2011-01-01  2011    1  SJC        20  SÃO JOSE DOS CAMPOS
...          ...   ...  ...  ...       ...                  ...
20616 2019-09-15  2019    9  GUR        17        GUARATINGUETA
20617 2019-09-15  2019    9  LIT        22        LITORAL NORTE
20618 2019-09-15  2019    9  MCR        12      MOGI DAS CRUZES
20619 2019-09-15  2019    9  SJC        22  SÃO JOSE DOS CAMPOS
20620 2019-09-15  2019    9  SUZ        15                  POÁ

[20621 rows x 6 columns]

# Tipo de dados

Você pode ver os tipos das variáveis que acabou de carregar.

Mais informações em: [link text](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [0]:
dataset.dtypes

Data        datetime64[ns]
ANO                  int64
MÊS                  int64
CSD                 object
EQUIPES_             int64
CSD_NOME            object
dtype: object

# Separando dados de treinamento e teste

Agora separe os dados em um conjunto de treinamento e outro teste.

Iremos utilizar o de conjunto de teste no final da análise do model.

frac = fração do conjunto
random_state = com número inteiro, são selecionados números aleatórios com  mesma semente. Se não for usado "random_state" os números são sempre aleatórios.

In [0]:
train_dataset = dataset.sample(frac=0.8,random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [0]:
train_dataset

     MAX_POT_AP_FASE_A_SEC_092019  MAX_POT_AP_FASE_B_SEC_092019  ...  REGIONAL  COND
39                          0.065                         0.065  ...       1.0   0.0
75                          0.042                         0.041  ...       3.0   0.0
59                          1.000                         0.500  ...       2.0   0.0
22                         33.438                        33.387  ...       1.0  10.0
150                         0.000                         0.000  ...       2.0   0.0
..                            ...                           ...  ...       ...   ...
113                         0.351                         0.351  ...       4.0   0.0
171                         0.569                         0.567  ...       2.0   0.0
40                          0.253                         0.253  ...       1.0   0.0
137                        19.714                        19.714  ...       4.0   0.0
97                          0.074                         0.060  ...       3.0   0.0

[160 rows x 10 columns]

In [0]:
test_dataset

     MAX_POT_AP_FASE_A_SEC_092019  MAX_POT_AP_FASE_B_SEC_092019  ...  REGIONAL  COND
2                           0.008                         0.008  ...       1.0   0.0
3                          39.460                        39.460  ...       1.0   0.0
13                         27.642                        27.642  ...       1.0   0.0
29                          0.104                         0.104  ...       1.0   0.0
31                          0.690                         0.691  ...       1.0   0.0
33                          1.310                         1.310  ...       1.0   0.0
34                          0.042                         0.042  ...       1.0   0.0
42                          0.216                         0.216  ...       1.0   0.0
61                          0.078                         0.078  ...       2.0   0.0
65                          0.060                         0.060  ...       2.0   0.0
71                          0.206                         0.206  ...       3.0   0.0
74                          0.120                         0.120  ...       3.0   0.0
89                          0.326                         0.325  ...       3.0   0.0
96                          0.000                         0.150  ...       3.0   0.0
99                          0.145                         0.144  ...       3.0   0.0
100                        20.996                        25.618  ...       3.0  10.0
104                         0.000                         0.000  ...       3.0   0.0
109                        48.280                        47.660  ...       3.0   0.0
110                        19.617                        21.959  ...       4.0  10.0
114                         0.010                         0.010  ...       4.0   0.0
117                         0.712                         0.711  ...       4.0   0.0
124                         0.078                         0.078  ...       4.0   0.0
129                        17.909                        19.046  ...       4.0  10.0
132                         0.000                         0.000  ...       4.0   0.0
140                         0.022                         0.022  ...       4.0   0.0
141                         0.096                         0.118  ...       4.0   0.0
146                         0.044                         0.044  ...       5.0   0.0
149                         0.000                         0.058  ...       2.0   0.0
155                         0.000                         0.000  ...       2.0   0.0
156                         0.000                         0.000  ...       2.0   0.0
158                         0.291                         0.291  ...       4.0   0.0
161                         0.064                         0.064  ...       4.0   0.0
162                         0.185                         0.185  ...       4.0   0.0
172                         0.139                         0.139  ...       2.0   0.0
181                         0.648                         0.648  ...       5.0   0.0
182                         0.209                         0.209  ...       5.0   0.0
183                         0.061                         0.061  ...       5.0   0.0
184                         0.000                         0.000  ...       5.0   0.0
188                         0.025                         0.025  ...       5.0   0.0
192                         0.087                         0.087  ...       5.0   0.0

[40 rows x 10 columns]

# Exercício

1. Gere o conjunto de treinamento com 85%
2. Separe o conjunto de treinamento e o conjunto de teste, a partir de forma elatória
3. Gere duas vezes e compare os dados gerados.
4. Separe o conjunto de treinamento e o conjunto de teste, a partir de uma semente fixa.